h1, p {
  text-align: center;
}

li:hover {
  background-color: salmon;
}
li:active {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
  list-style: none;
}