.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 600px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 870px;
  left: 70px;
  z-index: 2;
}
.fala {
background-color: burlywood;
}
.baloon {
position: absolute;
z-index: 3;
top: 100px
}

.speach {
  font-size: 25px;
  top: 140px;
  z-index: 4;
  position: absolute;
  left: 30px;
}
.bowser {
  width: 200px;
}
