body {
  margin: 0;
  background-color: rgba(104, 183, 247, 0.137);
}

.pokemonContener {
  border: 1px solid black;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:0px 10px 10px;
  min-width: 25%;
  height: 130px;
  flex-wrap: wrap;
}

.pokemonEspecific {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px 5px;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 0, 0.829);
  margin: 5% 15%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
