
    body {
      font-size: 16px;
    }

    h1 {
      width: 65px;
      color: orange;
      font-family: sans-serif;
      font-style: italic;
      text-align: center;
    }

    ul {
      background-color: palegoldenrod;
    }

    .back {
      background-color: plum;
    }

    p {
      font-weight: 600;
      font-size: 3em;
      text-decoration: underline;
    }

    #yellow {
      background-color: yellow
    }

    #red {
      background-color: red;
    }

    #brown {
      background-color: brown;
    }

    #black {
      background-color: black;
      color: blanchedalmond;
    }