.forms {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.div-inputs, .div-resume {
  display: flex;
  flex-direction: column;
  margin: 1%
}

input, select, textarea{
  margin: 2% 0 2% ;
}

.error-message {
  color: red;
  font-size: 2vw;
  margin-left: 3vw;
}
